# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# The specific executable binary
hello_world
main 

# Standard Executable extensions (just in case)
*.exe
*.out
*.app

# VS Code directory
.vscode/